# dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env*.local
.env.production

# IDE & OS files
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary & Cache files
.cache/
.parcel-cache/
.gemini/
.agents/
